body{
    background-color: #213456;
}
.content{
    margin-top: 10%;
    text-align: center;
    color: #757a8c;
}

.center-block {
    margin: auto;
    display: block;
}

img.size {
    height: 50vh;
}
